.logo{
    width: 178px;
    height: 15;


}

body{
    background: #f3f3f3;
}

.main{
    background: #fff;
    width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}

