.form-container{
    width: 300px;
    margin: 0 auto;
}
/*
body{
    background: url("/static/images/login_bg.png");
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
*/