{% extends 'base.html' %}
{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block main %}

    {#  <li><a href="http://172.25.56.86:5555/question/"><i class="	" aria-hidden="true"></i> +++++编写性能问题++++++++</a></li>#}

    <ul  class="question-list-group">

          {% for question in questions %}

        <li>
            <div class="avatar-group">
              {# <img src="{{ url_for('static',filename='images/MobTech.png') }}" alt="" class="avatar"> #}

            <div class="question-group">
                <p class="question-title"><a href="#">{{ question.title }}</a></p>
                <pre>
                <p class="question-content">{{ question.content }}</p>
                </pre>
                <div class="question-info">
                    <span class="question-author">{{ question.author.username }}</span>
                    <span class="question-time">{{ question.create_time }}</span>
                </div>
            </div>

        </li>
        {% endfor %}

        {#  {{ pagination.links }} #}

    </ul>

{% endblock %}